*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox],
span {
    cursor: pointer;
}

body {
    margin: 0;
    color: #3E334E;
    font-family: Inter;
}

a {
    text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.font-white{
    color: white;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

h1{
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    line-height: 100%;
}

label {
    font-weight: 600;
}

input {
    color: #3E334E;
    font-family: Inter;
    font-size: 16px;
}

.font-s {
    font-size: 16px;
}

.font-xs {
    font-size: 14px;
}

.login-wrapper {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 41.98%, rgba(255, 255, 255, 0.80) 100%), url("assets/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 75px;
}

@media screen and (min-height:835px) {
    .login-wrapper {
        height: 100vh;
    }
}

.login-input {
    padding-left: 24px;
    padding-right: 24px;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.logo>img {
    padding-right: 20px;
}

.logo>h2 {
    font-weight: 600;
}

.hello {
    padding-top: 100px;
}

.hello>h2 {
    font-weight: 700;
    padding-bottom: 10px;
}

.login-function {
    padding-top: 40px;
}

.login-function>h3 {
    padding-bottom: 20px;
}

.login-function>input,
.password-box>input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(62, 51, 78, 0.60);
    padding: 16px;
    background: transparent;
    margin-top: 5px;
    margin-bottom: 10px;
}

.password-box {
    position: relative;
}

.password-box>span {
    font-size: 24px;
    margin-top: 18px;
    margin-right: 15px;
    right: 0;
    position: absolute;
    z-index: 1;
}

#on {
    display: block;
}

#off {
    display: none;
}

.login-buttons {
    display: grid;
}

.rememberme {
    grid-column: 1;
    display: flex;
    align-items: center;
}

.rememberme>input {
    width: 16;
    height: 16;
}

.rememberme>input:checked {
    accent-color: #3E334E;
}

.rememberme>label {
    padding-left: 5px;
}

.forgotpassword {
    text-align: right;
    grid-column: 2;
    text-decoration: underline;
}

.login-button {
    padding-top: 20px;
    grid-column: 1;
    margin-right: 12px;
}

.login-button>button {
    border-radius: 8px;
    background: var(--warm-gradient, linear-gradient(270deg, #FB6564 0%, #A03CEA 100%));
    color: white;
    padding: 16px;
    width: 100%;
}

.sign-up-button {
    padding-top: 20px;
    grid-column: 2;
    margin-left: 12px;
}

.sign-up-button>button {
    border-radius: 8px;
    border: 1px solid #3E334E;
    background: transparent;
    color: 3E334E;
    padding: 16px;
    width: 100%;
}

.login-button-text {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.social-media {
    padding-top: 16px;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}

.social-media>button {
    border-radius: 8px;
    padding: 12px;
    background: transparent;
    border: 1px solid #3E334E;
    color: 3E334E;
    width: 100%;
}

.social-media-middle {
    margin-left: 16px;
    margin-right: 16px;
}

.hero-box {
    display: none;
}

.wrapper {
    display: block;
}


@media screen and (min-width:768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    .hero-box {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-rows: repeat(8, minmax(0, 1fr));
        grid-column: 1/5;
        background-image: url("/assets/wallpaper.png");
        background-size: cover;
        
    }

    .login-wrapper {
        grid-column: 5/9;
        padding-top: 70px;
        background-color: #f4f4f4;
        background-image: none;
        padding-bottom: 75px;
    }

    .login-input{
        margin-left: 50px;
        margin-right: 50px;
    }

    .hero-content-box {
        grid-area: 2/2/8/8;
        background: rgba(255, 255, 255, 0.40);
        backdrop-filter: blur(24px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-content-box-item{
        padding-left: 44px;
        padding-right: 44px;
    }

    .hero-content-box-item>h1{
        line-height: 120%;
    }

    .hero-content-box-item>p{
        padding-top: 40px;
        line-height: 150%;
        font-size: 18px;
    }
}

@media screen and (min-width:900px) {
    .hero-content-box-item{
        padding-left: 66px;
        padding-right: 66px;
    }
}

@media screen and (min-width:1024px) {
    .hero-box{
        grid-column: 1/6;
    }
    .login-wrapper{
        grid-column: 6/9;
    }

    .hero-content-box-item{
        padding-left: 88px;
        padding-right: 88px;
    }
}